.theme-bg-blue, .theme-bg-primary{
	background: $brand-primary;
}
.theme-bg-success{
	background: $brand-success;
}
.theme-bg-info{
	background: $brand-info;
}

.theme-bg-warning{
	background: $brand-warning;
}
.theme-bg-danger{
	background: $brand-danger;
}

.theme-bg-gray-01{
	background: $gray-dark;
}
.theme-bg-gray-02{
	background: $gray;
}
.theme-bg-gray-03{
	background: $gray-light;
}
.theme-bg-gray-04{
	background: $gray-lighter;
}
.theme-bg-gray-05{
	background: $gray-lightest;
}

